.main {
  height: 40px;
  text-align: center;
  padding: 0.8rem;
  background-color: rgb(91, 91, 91);
  color: white;
  font-size: large;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.danger {
  background-color: rgb(170, 29, 29);
  width: 150px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
