.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  background-color: rgb(216, 212, 212);
  box-shadow: -1px 5px 16px 0px rgba(0, 0, 0, 0.75);
  height: 100vh;
  padding-bottom: 2rem;
}
@media (max-width: 768px) {
  .main {
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    height: auto;
  }
}
